.conteiner-post-destaque{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 40px 40px;
    box-shadow: rgba(0,0,0, .15) 0px -2px 10px 10px;
    padding: 10px 10px;
    
}
.conteiner-post-destaque div img{
    width: 50vw;
    height:350px;
}

.conteiner-post-destaque div:nth-child(2){
    max-width: 40vw;
}
.post-detaque-data{
    font-size: 0.9em;
}
.post-detaque-tittle{
    margin-top:20px;
}
.post-destaque-descricao{
    margin-top: 20px;
}
.Autor-post-destaque{
    justify-content: space-between;
    flex-direction: row;   
}