.create-post{
    text-align: center;
    margin-top: 30px;
    box-shadow: rgba(0,0,0, .15) 0px -2px 10px 2px;
    margin: 20px 40px;
    padding: 5px 20px;
    border-radius: 10px;
    
       
}

.create-post h2{
    font-size: 1.2em;
   
}
.create-post p {
    color:#aaa;
    margin-bottom: 2em;
}

.create-post-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -20px;
}
.create-post span{
    display: flex;
    font-size: .9em;
    margin: 0px 10px;
    margin-top: 10px;
    flex-direction: column;
    
    
}
.create-post input{
   margin-top: 10px;
   padding: 10px; 
   width: 25vw;
 
   
}
.create-post textarea{
    padding: 10px;
    margin-top: 10px;
    width: 25vw;
    min-height: 100px;
   
}
